<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="add.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <title>ANYDESK - Consultar</title>
</head>
<body>
    
    <header>
        <h1>Adicionar </h1>
    </header>

    <main>
        <form action="" method="POST">

            <br />

            <label for="unidade">Unidade:</label>
            <select name="unidade" id="unidade">
                <option value="BELA VISTA">Bela Vista</option>
                <option value="TIJUCO PRETO">Tijuco Preto</option>
                <option value="UBS AGRESTE">UBS Agreste</option>
                <option value="SÃO JUDAS">São Judas</option>
                <option value="SÃO LUCAS">São Lucas</option>
                <option value="PORTÃO VERMELHO">Portão Vermelho</option>
                <option value="MARGARIDA">Margarida</option>
                <option value="RUTH MARIA">Ruth Maria</option>
                <option value="OUTRO">Outro</option>
            </select>

            <br />

            <label for="usuario">Usuário:</label>
            <input name="usuario" id="usuario" type="text" placeholder="Quem usa o computador">

            <br />
            <br />

            <label for="anydesk">Anydesk:</label>
            <input name="anydesk" id="anydesk" type="text" placeholder="exemplo@ad">

            <br />

            <button type="submit">Add</button>

        </form>
    </main>

</body>
</html>