<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="consult.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <title>ANYDESK - Consultar</title>
</head>
<body>
    <div class="header">
        <h1>Selecione a unidade:</h1>
    </div>

    <main>
        <div class="options">
            <a href="/listaBelaVista"><button>BELA VISTA</button></a>
            <a href="/listaTijuco"><button>TIJUCO</button></a>
            <a href="/listaAgreste"><button>UBS AGRESTE</button></a>
            <a href=""><button>SÃO JUDAS</button></a>
            <a href=""><button>SÃO LUCAS</button></a>
            <a href=""><button>PORTÃO VERMELHO</button></a>
            <a href=""><button>MARGARIDA</button></a>
            <a href=""><button>RUTH MARIA</button></a>
            <a href=""><button>OUTRO</button></a>
        </div>
    </main>
</body>
</html>