body{
    background-color: rgb(199, 247, 231);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 40px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 27em;
}